<!DOCTYPE html>
html(lang="en")

    head

        include includes/head.pug
  
    body

        //- Preloader
        div(id="preloader")
            div(class="spinner")

        //- Navbar
        include sections/header.pug

        //- Home Page
        div(id="home-page")

                // Banner
                section(id="banner")
                    div(class="owl-carousel" id="owl-banners")
                        div(class="bg-image" style="background-image: url(img/banners/banner.png);")
                            div(class="content")
                                h1 Bienvenue sur Cuisimat
                                    span Le partenaire des professionnels des métiers de bouche
                        div(class="bg-image" style="background-image: url(img/banners/banner.png);")
                            div(class="content")
                                h1 Bienvenue sur Cuisimat
                                    span Le partenaire des professionnels des métiers de bouche
                        div(class="bg-image" style="background-image: url(img/banners/banner.png);")
                            div(class="content")
                                h1 Bienvenue sur Cuisimat
                                    span Le partenaire des professionnels des métiers de bouche

                // Features
                div(id="features")
                    div(class="container")
                        div(class="row")
                            div(class="col-lg-3 col-sm-6")
                                div(class="single-feature")
                                    img(src="img/features/feature1.png", alt="produits")
                                    p(class="text") Une sélection de 26.000 produits
                            div(class="col-lg-3 col-sm-6")
                                div(class="single-feature")
                                    img(src="img/features/feature2.png", alt="livraison")
                                    p(class="text") Livraison dans touute l'Europe sous 3 à 10 jours
                            div(class="col-lg-3 col-sm-6")
                                div(class="single-feature")
                                    img(src="img/features/feature3.png", alt="paiements")
                                    p(class="text") Paiements securisée (Mastercard, visa, virement...)
                            div(class="col-lg-3 col-sm-6")
                                div(class="single-feature")
                                    img(src="img/features/feature4.png", alt="expérience")
                                    p(class="text") Plus de 20 ans d'expérience

                // Categories
                div(id="categories")
                    div(class="container")
                        div(class="categories-head")
                            h2 Une sélection de produits destinées
                                span aux professionnels de la cuisine
                        div(class="categories-wrap")
                            div(class="row")
                                div(class="col-lg-3 col-sm-6")
                                    div(class="single-category")
                                        div(class="content")
                                            img(src="img/categories/category1.png", alt="category")
                                            h3(class="title") Cuisine
                                div(class="col-lg-3 col-sm-6")
                                    div(class="single-category")
                                        div(class="content")
                                            img(src="img/categories/category2.png", alt="category")
                                            h3(class="title") Ustensiles
                                div(class="col-lg-3 col-sm-6")
                                    div(class="single-category")
                                        div(class="content")
                                            img(src="img/categories/category3.png", alt="category")
                                            h3(class="title") Froid
                                div(class="col-lg-3 col-sm-6")
                                    div(class="single-category")
                                        div(class="content")
                                            img(src="img/categories/category4.png", alt="category")
                                            h3(class="title") Accessoires de table
                                div(class="col-lg-3 col-sm-6")
                                    div(class="single-category")
                                        div(class="content")
                                            img(src="img/categories/category5.png", alt="category")
                                            h3(class="title") Couverts
                                div(class="col-lg-3 col-sm-6")
                                    div(class="single-category")
                                        div(class="content")
                                            img(src="img/categories/category6.png", alt="category")
                                            h3(class="title") Linge de table
                                div(class="col-lg-3 col-sm-6")
                                    div(class="single-category")
                                        div(class="content")
                                            img(src="img/categories/category7.png", alt="category")
                                            h3(class="title") Patisserie
                                div(class="col-lg-3 col-sm-6")
                                    div(class="single-category")
                                        div(class="content")
                                            img(src="img/categories/category8.png", alt="category")
                                            h3(class="title") Verrerie

                // Products
                div(id="products" class="bg-light")
                    div(class="container")
                        div(class="products-head")
                            h2 Notre sélection
                        div(class="products-links")
                            ul(class="list-inline")
                                li(class="list-inline-item")
                                    a(href="#" class="active") Cuisine
                                li(class="list-inline-item")
                                    a(href="#") Couteaux
                                li(class="list-inline-item")
                                    a(href="#") Hotelerie
                                li(class="list-inline-item")
                                    a(href="#") Mobilier
                                li(class="list-inline-item")
                                    a(href="#") Ling de table
                                li(class="list-inline-item")
                                    a(href="#") Vaiselle
                        div(class="products-wrap")
                            div(class="row")
                                div(class="col-xl-3 col-md-6")
                                    div(class="single-product")
                                        div(class="product-img")
                                            img(src="img/products/product1.png", alt="product")
                                        div(class="product-content")
                                            p(class="brand") Westmark
                                            p(class="title") Pince siseaux 33cm
                                            p(class="price") 10.50 HT
                                        div(class="product-actions")
                                            div(class="details") 
                                                a(href="#") Détails
                                            div(class="cart") 
                                                a(href="#") AJOUTER au panier
                                div(class="col-xl-3 col-md-6")
                                    div(class="single-product")
                                        div(class="product-img")
                                            img(src="img/products/product2.png", alt="product")
                                        div(class="product-content")
                                            p(class="brand") Westmark
                                            p(class="title") Coupe-oeuf tupe colombus
                                            p(class="price") 10.50 HT
                                        div(class="product-actions")
                                            div(class="details") 
                                                a(href="#") Détails
                                            div(class="cart") 
                                                a(href="#") AJOUTER au panier
                                div(class="col-xl-3 col-md-6")
                                    div(class="single-product")
                                        div(class="product-img")
                                            img(src="img/products/product3.png", alt="product")
                                        div(class="product-content")
                                            p(class="brand") De buyer
                                            p(class="title") Mandiline swing
                                            p(class="price") 10.50 HT
                                        div(class="product-actions")
                                            div(class="details") 
                                                a(href="#") Détails
                                            div(class="cart") 
                                                a(href="#") AJOUTER au panier
                                div(class="col-xl-3 col-md-6")
                                    div(class="single-product")
                                        div(class="product-img")
                                            img(src="img/products/product4.png", alt="product")
                                        div(class="product-content")
                                            p(class="brand") Beko
                                            p(class="title") Grille pain classic
                                            p(class="price") 10.50 HT
                                        div(class="product-actions")
                                            div(class="details") 
                                                a(href="#") Détails
                                            div(class="cart") 
                                                a(href="#") AJOUTER au panier


                // Brands
                section(class="section" id="brands")
                    div(class="container")
                        div(class="brands-head")
                            h2 Nous travaillons Uniquement
                                span avec les meilleurs marques du marché
                            p Navati, Tecnox, Rubbermaid, Zanussi et bien d'autres
                        div(class="brands-wrap")
                            div(class="owl-carousel" id="owl-brands")
                                div(class="single-brand")
                                    img(src="img/brands/brand1.png" class="img-fluid")
                                div(class="single-brand")
                                    img(src="img/brands/brand2.png" class="img-fluid")
                                div(class="single-brand")
                                    img(src="img/brands/brand3.png" class="img-fluid")
                                div(class="single-brand")
                                    img(src="img/brands/brand4.png" class="img-fluid")
                                div(class="single-brand")
                                    img(src="img/brands/brand5.png" class="img-fluid")
                                div(class="single-brand")
                                    img(src="img/brands/brand6.png" class="img-fluid")

                // About
                section(id="about")
                    div(class="container")
                        div(class="row")
                            div(class="col-lg-6")
                                div(class="contact")
                                    h2(class="title") Rendez-nous visite 
                                        span dans notre showroom
                                    div(class="row")
                                        div(class="col-sm-6")
                                            img(class="img-fluid" src="img/about.png")
                                        div(class="col-sm-6")
                                            div(class="info")
                                                p Ouvert de 
                                                    b 9h à 18h 
                                                    | du lu. au sa.
                                                    br
                                                    | fermé le dimanche
                                                p(class="mt-3") Zoning des plenesses
                                                    br
                                                    | Rue Abot 10
                                                    br
                                                    | 4890 THIMISTER
                                                    br
                                                    | Belgique
                                                div(class="contact-info") 
                                                    a(href="tel:+32 (0)87 300 717") +32 (0)87 300 717
                                                    br
                                                    a(href="mail:info@cuisimat.info") info@cuisimat.info
                            div(class="col-lg-6")
                                div(class="cuisimat")
                                    h2(class="title") Cuisimat vous accompagne 
                                        span depuis 15 ans
                                    div(class="text")
                                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero nesciunt ipsum dolorem labore dolores esse unde sequi? Sed saepe, ad cumque harum mollitia enim libero eveniet incidunt. Earum, ipsam maiores?
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sapiente ipsa modi vitae iusto velit suscipit? Dignissimos in assumenda iste quaerat voluptates, saepe dolorem! Numquam placeat laudantium autem quos ex?
                                    a(href="#" class="read-more") LIRE LA suite 


        //- Footer
        include sections/footer.pug

        // Scripts
        include includes/scripts.pug