/*-------------------------------------------------------*/
/* Variables
/*-------------------------------------------------------*/

// Colors
$blue-color: #162c55;
$orange-color: #ff8916;

$text-color: #232323;

// Fonts
$default-font: "Europa", sans-serif;