// Footer
footer(class="footer")

    div(class="footer-details")
        div(class="container")
            div(class="row")
                div(class="col-md-4 col-sm-6")
                    div(class="footer-detail footer-hours")
                        h5 Cuisimat
                        p Ouvert de 9h à 18h du lu. au sam.
                            br
                            | Fermé le dimanche
                        p Zoning des plenesses
                            br
                            | Rue Abot 10
                            br
                            | 4890 THIMISTER
                            br
                            | Belgique
                div(class="col-md-5 col-sm-6")
                    div(class="footer-detail")
                        h5 Informations
                        div(class="row")
                            div(class="col-md-6")
                                ul(class="list-unstyled")
                                    li
                                        a(href="#") Notre Entreprise
                                    li
                                        a(href="#") Mentions légales
                                    li
                                        a(href="#") Conditions générales
                                    li
                                        a(href="#") Moyens de paiement
                            div(class="col-md-6")
                                ul(class="list-unstyled")
                                    li
                                        a(href="#") Téléchargement
                                    li
                                        a(href="#") Sitemap
                                    li
                                        a(href="#") FAQ

                div(class="col-md-3 col-sm-12")
                    div(class="footer-detail")
                        h5 Services
                        ul(class="list-unstyled")
                            li
                                a(href="#") Catalogue piéces détachés
                            li
                                a(href="#") CGV professionnels administrations et autres
                            li
                                a(href="#") Demandes de devis pour gros volumes
                            li
                                a(href="#") Financement - Leasing

    div(class="footer-contact")
        div(class="container")
            a(href="tel:+32 (0)87 300 717") +32 (0)87 300 717
            a(href="mail:info@cuisimat.info") info@cuisimat.info

    div(class="footer-copyright")
        div(class="container")
            div(class="row align-items-center")
                div(class="col-lg-9")
                    p(class="payments") Moyens de payement: 
                        img(src="img/payments.png" alt="Moyens de payement")
                div(class="col-lg-3 text-right")
                    p(class="author") Réalisé par 
                        a(href="#") eyaka

                