// Header
header
    // Top Bar
    section(id="topbar")
        div(class="container")
            div(class="row")
                div(class="col-md-7")
                    div(class="topbar-left")
                        p Appelez-nous : 
                            a(href="tel:+32 (0)87 300 717") +32 (0)87 300 717 
                            | ou 
                            a(href="#") counsulter la FAQ
                div(class="col-md-5")
                    div(class="topbar-right")
                        a(href="#") Notre showroom 
                        | - 
                        a(href="#") Formulaire de contact
    // Logo Bar
    section(id="logobar")
        div(class="container")
            div(class="row align-items-center")
                div(class="col-xl-3 col-md-4 order-md-1 order-xl-1")
                    a(href="#" class="logo")
                        img(src="img/cuisimat-logo.png" alt="Cuisimat Logo")
                div(class="col-xl-6 col-md-12 order-md-3 order-xl-2")
                    form(class="search-form")
                        input(type="search" placeholder="Rechercher (siphon, couteaux,...)")
                        button(type="submit" class="btn")
                            i(class="fa fa-search")
                div(class="col-xl-3 col-md-8 order-md-2 order-xl-3")
                    ul(class="main-links")
                        li
                            img(src="img/icons/phone.png" alt="contact")
                            a(href="#") Contact
                        li
                            img(src="img/icons/user.png" alt="compte")
                            a(href="#") Compte
                        li
                            img(src="img/icons/cart.png" alt="panier")
                            a(href="#") Panier

    // Navbar
    nav(class="navbar navbar-expand-xl")
        div(class="container")
            button(class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#cuisimatnav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
                span(class="navbar-toggler-icon")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="cuisimatnav")
                div(class="navbar-nav m-auto")
                    a(class="nav-link active" href="#") Cuisine
                    a(class="nav-link" href="#") Ustenciles
                    a(class="nav-link" href="#") Horeca
                    a(class="nav-link" href="#") Patisserie
                    a(class="nav-link" href="#") Piéces détachés
                    a(class="nav-link" href="#") Mobilier
                    a(class="nav-link" href="#") Machines
                    a(class="nav-link" href="#") Verrerie
                    a(class="nav-link" href="#") Promotions